# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Cmake stuff
CMakeFiles
CMakeCache.txt
Makefile
*.cmake
*.a
*.so
*.npy
tags
*.pyc
*.ini
kbrcpp
*.png
*.mp4
